In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('lec_05_ka_csv_file.csv')
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2009,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
1,p21,2010,Single year,48,34.420971,61.579029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
2,p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
3,p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
4,p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
5,p21,2014,Single year,46,32.706877,59.293123,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
6,p21,2015,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
7,p21,2016,Single year,36,24.240216,47.759784,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
8,p21,2017,Single year,40,27.604099,52.395901,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['p21', '2008', 'Single year', '34', '22.57154429', '45.42845571',
       'Injuries', 'Number', 'Pedestrian', 'Validated', 'Children',
       '0-14 years', 'Serious'],
      dtype='object')

#### to read the limited no of rows  using nrow=value

In [5]:
df=pd.read_csv('lec_05_ka_csv_file.csv',nrows=1)
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2009,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

In [6]:
df=pd.read_csv('lec_05_ka_csv_file.csv',nrows=5)
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2009,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
1,p21,2010,Single year,48,34.420971,61.579029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
2,p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
3,p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
4,p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

####  to see the specific given columns using usecols[index]

In [8]:
df=pd.read_csv('lec_05_ka_csv_file.csv',usecols=[0])
df

   p21
0  p21
1  p21
2  p21
3  p21
4  p21
5  p21
6  p21
7  p21
8  p21

In [12]:
df=pd.read_csv('lec_05_ka_csv_file.csv',usecols=[0,1,5,7])
df

   p21  2008  45.42845571  Number
0  p21  2009    53.549893  Number
1  p21  2010    61.579029  Number
2  p21  2011    51.239971  Number
3  p21  2012    43.087231  Number
4  p21  2013    48.921995  Number
5  p21  2014    59.293123  Number
6  p21  2015    53.549893  Number
7  p21  2016    47.759784  Number
8  p21  2017    52.395901  Number

#### we cant print selected columns from the file using usecols=[], we just have to give the index of those columns

In [13]:
df=pd.read_csv('lec_05_ka_csv_file.csv',usecols=[4,8])
df

   22.57154429  Pedestrian
0    28.450107  Pedestrian
1    34.420971  Pedestrian
2    26.760029  Pedestrian
3    20.912769  Pedestrian
4    25.078005  Pedestrian
5    32.706877  Pedestrian
6    28.450107  Pedestrian
7    24.240216  Pedestrian
8    27.604099  Pedestrian

######  we can make rows as heading using skiprows=1, means after skip row the next row will be heading

In [14]:
df=pd.read_csv('lec_05_ka_csv_file.csv')
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2009,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
1,p21,2010,Single year,48,34.420971,61.579029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
2,p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
3,p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
4,p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
5,p21,2014,Single year,46,32.706877,59.293123,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
6,p21,2015,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
7,p21,2016,Single year,36,24.240216,47.759784,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
8,p21,2017,Single year,40,27.604099,52.395901,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

In [15]:
df=pd.read_csv('lec_05_ka_csv_file.csv',skiprows=1)
df

,p21,2009,Single year,41,28.45010711,53.54989289,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2010,Single year,48,34.420971,61.579029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
1,p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
2,p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
3,p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
4,p21,2014,Single year,46,32.706877,59.293123,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
5,p21,2015,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
6,p21,2016,Single year,36,24.240216,47.759784,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
7,p21,2017,Single year,40,27.604099,52.395901,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

####  to skip the specific row

In [17]:
df=pd.read_csv('lec_05_ka_csv_file.csv',skiprows=[2])
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2009,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
1,p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
2,p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
3,p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
4,p21,2014,Single year,46,32.706877,59.293123,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
5,p21,2015,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
6,p21,2016,Single year,36,24.240216,47.759784,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
7,p21,2017,Single year,40,27.604099,52.395901,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

#### we can skip multiple rows, by giving their index

In [18]:
df=pd.read_csv('lec_05_ka_csv_file.csv',skiprows=[1,6,8])
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
0,p21,2010,Single year,48,34.420971,61.579029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
1,p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
2,p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
3,p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
4,p21,2015,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
5,p21,2017,Single year,40,27.604099,52.395901,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

#### to change the default index
we can customize it using index_col
means making column as row/index

In [19]:
df=pd.read_csv('lec_05_ka_csv_file.csv',index_col='p21')
df

,2008,Single year,34,22.57154429,45.42845571,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,,,,,,,,,,,,
p21,2009,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2010,Single year,48,34.420971,61.579029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2011,Single year,39,26.760029,51.239971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2012,Single year,32,20.912769,43.087231,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2013,Single year,37,25.078005,48.921995,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2014,Single year,46,32.706877,59.293123,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2015,Single year,41,28.450107,53.549893,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2016,Single year,36,24.240216,47.759784,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
p21,2017,Single year,40,27.604099,52.395901,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious

In [21]:
df=pd.read_csv('lec_05_ka_csv_file.csv',index_col='Number')
df

,p21,2008,Single year,34,22.57154429,45.42845571,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,,,,,,,,,,,,
Number,p21,2009,Single year,41,28.450107,53.549893,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2010,Single year,48,34.420971,61.579029,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2011,Single year,39,26.760029,51.239971,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2012,Single year,32,20.912769,43.087231,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2013,Single year,37,25.078005,48.921995,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2014,Single year,46,32.706877,59.293123,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2015,Single year,41,28.450107,53.549893,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2016,Single year,36,24.240216,47.759784,Injuries,Pedestrian,Validated,Children,0-14 years,Serious
Number,p21,2017,Single year,40,27.604099,52.395901,Injuries,Pedestrian,Validated,Children,0-14 years,Serious

#### by giving index we can make it as column

In [22]:
df=pd.read_csv('lec_05_ka_csv_file.csv',index_col=5)
df

,p21,2008,Single year,34,22.57154429,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
45.42845571,,,,,,,,,,,,
53.549893,p21,2009,Single year,41,28.450107,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
61.579029,p21,2010,Single year,48,34.420971,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
51.239971,p21,2011,Single year,39,26.760029,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
43.087231,p21,2012,Single year,32,20.912769,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
48.921995,p21,2013,Single year,37,25.078005,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
59.293123,p21,2014,Single year,46,32.706877,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
53.549893,p21,2015,Single year,41,28.450107,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
47.759784,p21,2016,Single year,36,24.240216,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious
52.395901,p21,2017,Single year,40,27.604099,Injuries,Number,Pedestrian,Validated,Children,0-14 years,Serious